
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redis演示站点</title>
</head>
<body>
    <div>
        <p>
            @Html.ActionLink("新增产品", "Create")

            @Html.ActionLink("产品列表", "List")
        </p>
    </div>
</body>
</html>
